<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Le mie origini | Ivan De Vita</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/prettyPhoto.css" rel="stylesheet"> 
    <link href="css/animate.min.css" rel="stylesheet"> 
	<link href="css/main.css" rel="stylesheet">
	<link href="css/responsive.css" rel="stylesheet">
	<link href="css/mappe.css" rel="stylesheet">

    <!--[if lt IE 9]>
	    <script src="js/html5shiv.js"></script>
	    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>
	<header id="header">      
        <div class="container">
            <div class="row">
                <div class="col-sm-12 overflow">
                   <div class="social-icons pull-right">
                        <ul class="nav nav-pills">
                            <li><a href=""><i class="fa fa-facebook"></i></a></li>
                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                            <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                            <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div> 
                </div>
             </div>
        </div>
        <div class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="index.html">
                        <h1><img src="images/logo.png" alt="logo"></h1>
                    </a>
                    
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="index.html">Home</a></li>
                        <li><a href="#">CHI SONO  </a>
                            <!--<ul role="menu" class="sub-menu">
                                <li><a href="coming-soon.html">Coming Soon</a></li>
                            </ul>-->
                        </li>                    
                        <li><a href="#">DOVE SONO </a>
                        </li>
                        <li><a href="Curriculum.html">CURRICULUM </a>
                        </li>                         
                        <li class="#"><a href="shortcodes.html ">PROGETTI<i class="fa fa-angle-down"></i></a>
							<ul role="menu" class="sub-menu">
                                <li><a href="coming-soon.html">Progetto Uno</a></li>
								<li><a href="coming-soon.html">Progetto Due</a></li>
								<li><a href="coming-soon.html">Progetto Tre</a></li>
								<li><a href="coming-soon.html">Progetto Quattro</a></li>
								<li><a href="coming-soon.html">Proetto Cinque</a></li>
                            </ul>
						</li>   
						<li><a href="coming-soon-gheruba.html">GHERUBA </a>
                        </li> 
                    </ul>
                </div>
                <div class="search">
                    <form role="form">
                        <i class="fa fa-search"></i>
                        <div class="field-toggle">
                            <input type="text" class="search-form" autocomplete="off" placeholder="Search">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <!--/#header-->    

    <section id="page-breadcrumb">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">Le mie origini...</h1>
                            <!--<p>Stay close</p>-->
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
   </section>
    <!--/#action-->

    <section id="map-section">
        <div class="container">
		<div class="google-maps">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d90828.8358955792!2d10.851692104918241!3d44.650155746868684!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x477fef12dd4964e1%3A0x96751e7d492b7f28!2sModena+MO!5e0!3m2!1sit!2sit!4v1507383700554" width="350" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
            <!--<div id="gmap"></div>-->
            <div class="contact-info">
                <h2>Dove vivo</h2>
				<h3>Modena</h3>
               <!-- <address>
                E-mail: <a href="mailto:someone@example.com">email@email.com</a> <br> 
                Phone: +1 (123) 456 7890 <br> 
                Fax: +1 (123) 456 7891 <br> 
                </address>-->

               <!-- <h2>Address</h2>
                <address>
                Modena <br> 
                </address>-->
            </div>
        </div>
    </section> <!--/#map-section-->      

<section id="map-section">
        <div class="container">
		<div class="google-maps">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d96570.18653512668!2d14.176562214813314!3d40.853912268962716!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x133b0866db7afaeb%3A0xd23a43cc658cb87e!2sNapoli+NA!5e0!3m2!1sit!2sit!4v1507383945799" width="350" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
          <!--  <div id="gmap"></div>-->
            <div class="contact-info">
                <h2>Dove sono nato</h2>
				<h3>Napoli</h3>
               <!-- <address>
                E-mail: <a href="mailto:someone@example.com">email@email.com</a> <br> 
                Phone: +1 (123) 456 7890 <br> 
                Fax: +1 (123) 456 7891 <br> 
                </address>-->

               <!-- <h2>Address</h2>
                <address>
                Napoli <br> 
                </address>-->
            </div>
        </div>
    </section> <!--/#map-section--> 	
	<section id="map-section">
        <div class="container">
		<div class="google-maps">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48415.44124495936!2d14.757636603582986!3d40.67473840984482!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x133bc25734bd3089%3A0x15a49713da0374a0!2sSalerno+SA!5e0!3m2!1sit!2sit!4v1507383960760" width="350" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
            <!--<div id="gmap"></div>-->
            <div class="contact-info">
                <h2>Dove sono cresciuto</h2>
				<h3>Salerno</h3>
               <!-- <address>
                E-mail: <a href="mailto:someone@example.com">email@email.com</a> <br> 
                Phone: +1 (123) 456 7890 <br> 
                Fax: +1 (123) 456 7891 <br> 
                </address>-->

              <!--  <h2>Address</h2>
                <address>
                Salerno <br> 
                </address>-->
            </div>
        </div>
    </section> <!--/#map-section--> 

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center bottom-separator">
                    <img src="images/home/under.png" class="img-responsive inline" alt="">
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="testimonial bottom">
                        <h2>Testimonial</h2>
                        <div class="media">
                            <div class="pull-left">
                                <a href="#"><img src="images/home/profile1.png" alt=""></a>
                            </div>
                            <div class="media-body">
                                <blockquote>Nisi commodo bresaola, leberkas venison eiusmod bacon occaecat labore tail.</blockquote>
                                <h3><a href="#">- Jhon Kalis</a></h3>
                            </div>
                         </div>
                        <div class="media">
                            <div class="pull-left">
                                <a href="#"><img src="images/home/profile2.png" alt=""></a>
                            </div>
                            <div class="media-body">
                                <blockquote>Capicola nisi flank sed minim sunt aliqua rump pancetta leberkas venison eiusmod.</blockquote>
                                <h3><a href="">- Abraham Josef</a></h3>
                            </div>
                        </div>   
                    </div> 
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="contact-info bottom">
                        <h2>Contacts</h2>
                        <address>
                        E-mail: <a href="mailto:someone@example.com">email@email.com</a> <br> 
                        Phone: +1 (123) 456 7890 <br> 
                        Fax: +1 (123) 456 7891 <br> 
                        </address>

                        <h2>Address</h2>
                        <address>
                        Unit C2, St.Vincent's Trading Est., <br> 
                        Feeder Road, <br> 
                        Bristol, BS2 0UY <br> 
                        United Kingdom <br> 
                        </address>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="contact-form bottom">
                        <h2>Send a message</h2>
                        <form id="main-contact-form" name="contact-form" method="post" action="sendemail.php">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control" required="required" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" class="form-control" required="required" placeholder="Email Id">
                            </div>
                            <div class="form-group">
                                <textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="Your text here"></textarea>
                            </div>                        
                            <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-submit" value="Submit">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="copyright-text text-center">
                        <p>&copy; Your Company 2014. All Rights Reserved.</p>
                        <p>Crafted by <a target="_blank" href="http://designscrazed.org/">Allie</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--/#footer-->


    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript" src="js/gmaps.js"></script>
    <script type="text/javascript" src="js/wow.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>   
</body>
</html>
